version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: deployment/docker/dockerfile
    container_name: xitm-backend
    env_file:
      - .env
    ports:
      - "8080:8080"
    volumes:
      - .:/app
    restart: unless-stopped

  frontend:
    build:
      context: .
      dockerfile: deployment/docker/frontend.Dockerfile
    container_name: xitm-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: unless-stopped
