/* ====== Navbar ====== */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.navbar .logo {
    color: var(--accent-yellow);
}

/* Links */
.nav-links {
  padding-right: 3rem;
}
.nav-links a {
  color: var(--text-light);
  text-decoration: none;
  margin: 0 15px;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: var(--accent-yellow);
}
