.score-card-circular {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.circle-container {
  position: relative;
  width: 120px; /* same as SVG diameter */
  height: 120px;
}

.score-text-circular {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--text-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

.score-text-circular strong {
  font-size: 1.5rem;
}
